.home{
    background-color: pink;
    width: 500px;
    height: 200px;

}
.bgimg{
    background-image: url("../img/dis.png");
    background-position: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    /* z-index usage is up to you.. although there is no need of using it because the default stack context will work. */
    z-index: -2;
    background-repeat: no-repeat;
    background-size: cover;
}
.dis{
    background-color: #000;
    color: green;
    padding:50px;
    width: 200px;
    height: 200px;
    font-weight: bolder;

}
.flexbox{
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}


.a{
    background-color: rgb(255, 100, 126);
    text-decoration: none;
    
}
#missile{
    width: 400px;
}
.missile{
    position: fixed;
    left: 40%;
    top: 20%;
    right: 20%;
}
.missileBanao{
    background-color: #000;
}



.footer{
        position: fixed;
        display: flex;
        justify-content: center;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
      padding: 10px;
}